*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Carrusel*/

.carrusel{
  width: 90%;
  margin: auto;
  height: 450px;
  overflow: hidden;

}
.carrusel ul{
    padding: 0;
    display: flex;
    width: 400%;

    animation: slider 20s infinite alternate;
    animation-timing-function: linear;
}
.carrusel li{
    width: 100%;
    list-style: none;
}
.carrusel li img{
    width: 100%;
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}




/*  Menu con imagenes de iconos*/

.fondo{
    box-sizing: border-box;
    display: grid;
    grid-gap: 2rem;/*la distancia entre los cuadros */
    grid-template-columns: repeat(12, 1fr);
    padding: 1,8rem;/**La posicion entre el carrusel y los cuadros */
    margin: 0 auto;
    max-width: 70rem;/**El tamano de los cuadros */
    width: 100%;
  }
  
  .razones {
    padding: 2rem 0;
    text-align: center;
  }
  
  .tarjeta {
    border-radius: 1rem;
    grid-column-end: span 3;/*cuantos pueden estar en una columna */
    padding: 1rem;
  }
  
  .tarjeta .img-icon{
    max-width: 10rem;
    width: 100%;
  }
  
  h3 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 2rem;
  }
  
  h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  
  @media (max-width: 35rem) {

  
    .fondo{
      grid-gap: 1,8rem 0;
    }
  
  .fondo > * {
      grid-column-end: span 12;
    }
  
  }

/*Footer */
footer{
    text-align: center;
    margin-top: auto;
    background-color: rgb(73, 73, 73);
    color: whitesmoke;
}
